.contact-us-page {
  .row {
    display: flex;
    justify-content: center;

    text-align: center;
  }
  .hero-section {
    color: #fff;
    background-color: #111536;
    padding: 100px 150px;
    .wire {
      position: absolute;
      img {
        // max-width: 100%;
        max-width: 45%;
        position: relative;
        top: 134px;
        left: -150px;
        opacity: 1.1;
        transform: rotate(21deg);
      }
    }
    .form-row {
      row-gap: 40px;
    }
    .brand-button {
      width: 100%;
    }
    .social-contact {
      display: flex;
      gap: 20px;
      height: 180px;
      align-items: center;
      .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 2em;
      }
    }
    .text-about {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      text-align: justify;

      background: linear-gradient(
        346deg,
        #0b0723 0%,
        #3bd4e9 60%,
        #3f74ef 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .hero-title {
      font-weight: 700;
      font-size: 60px;
      line-height: 68px;
      letter-spacing: -1.48px;
      height: 100px;
      color: #ffffff;
    }
    .hero-p {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.36px;
      color: #f9f9f9;
    }
    .hero-w {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      background: linear-gradient(
        25.73deg,
        #351ee0 0%,
        #3bd4e9 60%,
        #3f74ef 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .hero-text-section {
      text-align: start;
    }
  }

  @media screen and (max-width: 767px) {
    .hero-section,
    .contact-section {
      padding: 5px !important;
    }
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
    }

    .hero-text-section {
      padding: 5px !important;
    }

    .hero-title {
      width: 100% !important;
      height: auto !important;
      font-size: 40px !important;
      padding: 0;
      margin: 0;
    }
    .hero-p {
      width: 100% !important;
      padding: unset !important;
    }
    .brand-button {
      width: 100% !important;
    }
  }
  .contact-section {
    color: #111536;
    background-color: #fff;
    padding: 100px 150px;
    .c-img {
      background-image: linear-gradient(105deg, #351ee0, #3f74ef);
      padding: 10px;
      border-radius: 10px;
    }
    .contact-mode-section {
      .contact-card {
        padding: 20px;
        margin: 20px 0px;
      }
      .contact-card-body {
        display: flex;
        gap: 20px;
      }
      .contact-text {
        text-align: justify;
      }
      .contact-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #05092b;
      }
    }
  }
}
