.footer {
  background-color: #05092b;
  padding: 10px 0px;
  margin-top: 150px;
}

.footer__logo {
  max-width: 100%;
}
.footer-card-body {
  padding: 5px !important;
  img {
    height: 116px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.footer__desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.footer__links li {
  margin-bottom: 10px;
}

.footer__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Responsive Adjustments */

.icon-gap {
  gap: 20px;
}

.custom-padding {
  padding: 105px;
  margin-bottom: -42px;
  margin-top: -51px;
  padding-top: 1px;
}

.card_section {
  background-color: #351ee0 !important;
  color: antiquewhite;
  margin-left: auto !important;
  margin-right: auto !important;
  top: -135px;
}

.footer-card-title {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px!important;
  margin-left: 48px!important;
}

.input_box {
  background-color: #351ee0;
}

.input-group{
  height: 30px!important;
  width: 60% !important;
  background-color: #351ee0 !important;
  position: relative;
  top: 30px !important;
  margin-left: 10px !important; 
}

.input_box {
  box-shadow: none;
  border-color: #ced4da;
  background-color: transparent !important;
  font-size: 20px !important;
}




.button_function {
  height: 36px;
  width: 40%;
  padding: 0px !important;
 
}

.input-group input,
input::placeholder {
  color: white !important;
}


@media (max-width: 576px) {
  .footer {
   width: 100%;
  }
  .custom-padding{
    padding: 5px !important;
  }
  
.line{
  margin-top: 60px;
}
  .footer-end{
    padding:20px;
  }

  .footer__content {
    align-items: left;
    
  }

  .contact_media{
   justify-content: left;
    
  }
  
  .footer__desc {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer__links li {
    margin-bottom: 5px;
  }

  .input-group input,
  input::placeholder {
    color: white !important;
    font-size: medium !important;  
    text-align: center !important; 
  }

  .footer__title {
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
  }

  .footer-card-body {
    padding: 0px !important;
      align-items: center!important;
  }

  .img_media {
    width: 76px !important;
    height: 76px!important;
    
  }

  .footer-card-title {
    font-size: 25px !important;
    position: relative;
    left: 15px!important;
  }

  .input-group {
     width: 109% !important;
     height: 20px !important;
     position: relative;
         top: 10px !important;
     margin-bottom: 70px !important;
  }

  .button_function {
    width: 190px !important;
    height: 35px !important;
    font-size: 16px!important;
    position: relative;
    top: 45px !important;
    left: 20px !important;
  }

}
 
@media (max-width: 1156px) {
  .footer {
   width: 100%;
  }
  .custom-padding{
    padding: 5px !important;
  }
  
.line{
  margin-top: 60px;
}
  .footer-end{
    padding:20px;
  }

  .footer__content {
    align-items: left;
    
  }

  .contact_media{
   justify-content: left;
    
  }
  
  .footer__desc {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer__links li {
    margin-bottom: 5px;
  }

  .input-group input,
  input::placeholder {
    color: white !important;
    font-size: medium !important;  
    text-align: center !important; 
  }

  .footer__title {
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
  }

  .footer-card-body {
    padding: 0px !important;
      align-items: center!important;
  }

  .img_media {
    width: 76px !important;
    height: 76px!important;
    
  }

  .footer-card-title {
    font-size: 25px !important;
    margin-left: 20px!important;
  }

  .input-group {
     width: 109% !important;
     height: 20px !important;
     position: relative;
         top: 10px !important;
     margin-bottom: 70px !important;
  }

  .button_function {
    width: 190px !important;
    height: 35px !important;
    font-size: 16px!important;
    position: relative;
    top: 45px !important;
    
  }

}