.App {
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/font/static/SpaceGrotesk-Medium.ttf") format("truetype"); /* Regular font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets//font//static/SpaceGrotesk-Bold.ttf") format("truetype"); /* Bold font */
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: "Space Grotesk", sans-serif;
}
